body{
    background: rgb(248, 201, 196);
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 17px;
    font-family: cursive;
}
.form{
border: solid;
border-radius: 5px;
font-family: cursive;
background-color: rgb(183, 244, 244);
height: 600px;
width: 500px;
}

.parent{
    display: flex;
}
.label{
    width: 200px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
label{
    margin-left: 50px;
    font-weight: bold;
    color: rgb(24, 0, 117);
}
.input{
    width: 300px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
input{
    width: 250px;
    height: 30px;
    background: transparent;
    border: none;
    border-bottom: 2px solid blue;
    outline: none;
    font-family: cursive;
    font-size: 15px;
    color: rgb(24, 0, 117);
    font-weight: bold;
}
input::placeholder{
    font-family: cursive;
}
input[type=radio]{
    width: 15px;
    height: 15px;
    margin-right: 20px;
}

select{
    width: 250px;
    height: 30px;
    background: transparent;
    border: none;
    border-bottom: 2px solid blue;
    outline: none;
}
.genderClass{
    display: flex;
    font-size: 15px;
}

.btn{
    height: 50px;
    width: 250px;
    font-size: 26px;
    color: white;
    background-color: rgb(16, 0, 82);
    margin-top: 25px;
    border-radius: 100px;
}
.btnDiv{
    height: 100px;
    width: 500px;
    text-align: center;
    /* background-color: brown; */
}

.btn:hover{
    cursor: pointer;
    background-color: rgb(24, 0, 117);
    transform: scale(1.1);
}